<%= content_tag :h1, @insight.title %>
<%= content_tag :p do %>
  By <%= link @insight.author.username, to: user_path(@conn, :show, @insight.author.username), class: "" %>
<% end %>

<%= md_to_html(@insight.body) %>
