<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Insights - Knowledge. Insights. Passion.</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
          <%= if @current_user do %>
            <li class="pure-menu-item"><a href="/users/<%= @current_user.username %>" class="pure-menu-link"><%= @current_user.username %></a></li>
            <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>
          <%= else %>
            <li class="pure-menu-item"><a href="/register" class="pure-menu-link">Register</a></li>
            <li class="pure-menu-item"><a href="/login" class="pure-menu-link">Login</a></li>
          <% end %>
          <li class="pure-menu-item"><a href="/insights" class="pure-menu-link">Insights</a></li>
          <li class="pure-menu-item"><a href="/users" class="pure-menu-link">Users</a></li>
          <li class="pure-menu-item"><a href="/insights/new" class="pure-menu-link">New Insight</a></li>
        </ul>
      </div>

      <p class="" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main" class="">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
