<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Insights - Knowledge. Insights. Passion.</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="">
      <header class="">
        <nav role="">
          <ul class="">
              <li><a href="/">Home</a></li>
            <%= if @current_user do %>
              <li><a href="/users/<%= @current_user.username %>"><%= @current_user.username %></a></li>
              <li><a href="/logout">Logout</a></li>
            <%= else %>
              <li><a href="/register">Register</a></li>
              <li><a href="/login">Login</a></li>
            <% end %>
            <li><a href="/insights">Insights</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/insights/new">New Insight</a></li>
          </ul>
        </nav>
        <span class=""><h1>Insights</h1><h4>Knowledge. Insights. Passion.</h4></span>
      </header>

      <p class="" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
