<h3>Request new password</h3>
<%= form_for @conn, password_path(@conn, :reset_password), [as: :user], fn f -> %>

  <div class="">
    <%= text_input f, :email, placeholder: "email", class: "" %>
  </div>

  <%= submit "Reset Password", class: "" %>

<% end %>
