#insight_title {
  font-size: 34px;
  outline: none;
  border: none;
  box-shadow: none;
}

#insight-form .editor-toolbar {
  opacity: .8;
  border-bottom: 1px solid #bbb;
  border-top: none;
  border-left: none;
  border-right: none;
}

#insight-form .CodeMirror {
  border: none;
}

#insight-form .editor-preview table td, #insight-form .editor-preview table th {
  border: none;
  padding: none;
}

#insight-form .editor-preview pre {
  background: none;
}

#insight-form .CodeMirror .CodeMirror-code .cm-tag {
  color: inherit;
}

.insight-body pre, .insight-body code, #insight-form .editor-preview pre, #insight-form .editor-preview code {
  background: #e5e5e5;
}
